@keyframes animacao {
    0% {background-color: purple;width: 500px;}
    50% {background-color: yellow;width: 200px;}
    100% {background-color: red;width: 10px;}
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 500px;
    height: 500px;
    background-color: purple;
    animation-name: animacao;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}